{% extends "layout.html" %}

{% block title %}
<title>Upravit úkol</title>
{% endblock %}

{% block top %}
<h1 class="display-3 nadpis">Upravit úkol</h1>
{% endblock %}

{% block main %}
<main role="main" class="container">

    <form action="/editTask?taskid={{task._id}}" method="POST">
        <div class="form-group">
            <input name="title" type="text" class="form-control" value="{{task.title}}" required id="title">
        </div>
        <div class="form-group">
            <label for="title">Řešitel (pokud není stejný jako autor):</label>
            <select class="solver form-control" name="solver"></select>
        </div>
        <div hidden="true" class="form-group">
            <select class="author form-control" name="author" value="{{task.author}}"></select>
        </div>
        <button type="submit" class="btn btn-primary">Upravit</button>
        <a href="/tasksPage" class="btn btn-secondary float-right">Zpět na vaše úkoly</a>
    </form>

</main>

<script type="text/javascript">
    $('.solver').select2({
        placeholder: '{{task.solver}}',
        ajax: {
            url: '/api/user',
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
</script>

{% endblock %}